<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- enlazar archivo css -->
        <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <!--    en bloque-->
    <h1>Titulo</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore natus eaque sapiente voluptate eum ipsam adipisci hic consequuntur est repudiandae exercitationem quae, quod animi minima maxime doloribus qui laborum fuga!</p>
    <hr>
    <!-- en linea  -->
    <span class="saludo" id saludoIncial>Hola</span>
    <img src="assets/img/pokemon-lets-go-768x432.jpg" alt="">

    <a href="https://www.youtube.com/watch?v=eHyl8a394-M&list=RDeHyl8a394-M&start_radio=1&ab_channel=JudasPriestVEVO">youtube</a>

    <a href="../index.html">index</a>
    <!-- listas ordenadas -->
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>
    <!-- listas desordenadas -->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>
    <!-- para escribir css en el documento -->
    <style>
        body{
            background-color: aquamarine;
        }
    </style>

    <!-- javascript en el documento -->
    <script>
        /* alert("Hola"); */
    </script>
    <!-- enlazar archivo js -->
    <script src="assets/js/main.js">

    </script>


</body>
</html>