.formulario2{
    border: 10px solid rgb(128, 128, 235);
    background-color: green;
    padding: 70px;
    width: 400px;
    margin: 0 auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
input{
    border: 3px solid red;
    margin: 0 auto;
    padding: auto;
   
}
.env{
    border: none;
    padding: 20px;
    border-top: 1px dotted black;
    margin: 30px 30px;
    background-color: green;   
}
label{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}