body{
    background-color: rgb(27, 228, 134);
}
table,th,tr,td{
    font-family: cursiva;
    border-collapse: collapse;
    border: 1px solid black;
    align-content: center;
}
thead{
    text-align: center;
    width: 1000px;

}
.f{
    background-color: greenyellow;
}
.m{
    background-color: orangered;
}