body{
    background-color: rgb(7, 148, 7);
}
.e1{
   font-family: ; 
   color: white;
   
}
.e2{
    font-family: ; 
    color: rgb(231, 177, 95);
    
 }
 .e3{
    font-family: ; 
    color: rgb(231, 209, 12);
    
 }
 .e4{
    font-family: ; 
    color: white;
    
 }
 .e5{
    font-family: ; 
    color: rgb(243, 208, 12);
    
 }
 .e6{
    font-family: ; 
    color: rgb(211, 26, 26);
    
 }
 .e7{
    font-family: ; 
    color: rgb(247, 209, 85);
    
 }
 .e8{
    font-family: ; 
    color: rgb(207, 25, 25);
    
 }